.fui-control_label {
	display: inline-flex;
	align-items: flex-start;
	@apply fui:gap-2;

	@apply fui:text-sm/4;
	font-weight: 500;
	@apply fui:text-header;

	&:has(.fui-switch) {
		/*@apply fui:leading-5;*/
		/*line-height: theme(spacing.5);*/
		line-height: var(--fui-spacing-5);
	}

	&.has-error {
		@apply fui:text-error;
	}

	.fui-checkbox,
	.fui-radiobutton {
		margin: 0;
	}
}
