@theme {
	--color-tabs-title: light-dark(var(--fui-color-gray-500), var(--fui-color-gray-400));
	--color-tabs-title-h: light-dark(var(--fui-color-gray-900), var(--fui-color-white));
	--color-tabs-title-a: var(--fui-color-primary-600);
	--color-tabs-divider: light-dark(var(--fui-color-gray-200), var(--fui-color-gray-700));
}

.fui-tabs-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	@apply fui:gap-8;

	.fui-tabs-button {
		position: relative;
		@apply fui:mb-1;
		padding: 0;
		@apply fui:py-2;

		@apply fui:font-sans;
		@apply fui:text-sm;
		font-weight: 500;
		letter-spacing: 0.015em;
		@apply fui:text-tabs-title;

		background: none;
		border: none;
		appearance: none;
		cursor: pointer;
		user-select: none;
		@apply fui:rounded-lg;

		@apply fui:outline-focus-prepear;
		transition-property: color;
		transition-duration: var(--fui-transition-duration-default);

		&::after {
			content: '';
			position: absolute;
			@apply fui:-bottom-1;
			left: 0;
			right: 0;
			height: 2px;
			background-color: transparent;
			transition-property: background-color;
			transition-duration: var(--fui-transition-duration-default);
		}

		&:hover:not(:disabled,.is-active) {
			@apply fui:text-tabs-title-h;
		}

		&:focus-visible {
			@apply fui:outline-focus;
		}

		&:disabled {
			cursor: default;
			opacity: var(--fui-disabled-opacity);
		}

		&.is-active {
			@apply fui:text-tabs-title-a;

			&::after {
				@apply fui:bg-tabs-title-a;
			}
		}
	}
}

.fui-tabs-divider {
	margin: 0;
	@apply fui:mb-4;
	margin-top: -2px;
	border: none;
	border-bottom: 2px solid;
	@apply fui:border-tabs-divider;
}
