.fui-radiobutton
	height: 16px
	width: 16px
	box-sizing: border-box

	border-radius: 50%
	background-color: var(--fui-rb-bg)
	border: 1px solid var(--fui-rb-border)

	appearance: none
	cursor: pointer

	&:checked
		background-image: none
		background-color: var(--fui-rb-checked-bg)
		border: 4px solid var(--fui-rb-checked-border)
		print-color-adjust: exact

	&:disabled
		cursor: default
		background-color: var(--fui-rb-disabled-bg)
		border-color: var(--fui-rb-disabled-border)

		&:checked
			background-color: var(--fui-rb-disabled-checked-bg)
			border-color: var(--fui-rb-disabled-checked-border)

	&:focus-visible
		outline: var(--fui-focus-size) solid var(--fui-focus-color)
		outline-offset: var(--fui-focus-offset)

		&:not(:checked)
			border-color: var(--fui-cb-color-true)
