// special variables
// --fui-b-bordersize
// --fui-b-lineheight-xs
// --fui-b-lineheight-s
// --fui-b-lineheight-default
// --fui-b-lineheight-l
// --fui-b-lineheight-xl

// sizes
// --fui-b-spacing-x
// --fui-b-spacing-y
// --fui-b-fontsize
// --fui-b-lineheight

// button colors
// --fui-b-textcolor
// --fui-b-basecolor
// --fui-b-basecolor-active
// --fui-b-boxshadow-color

.fui-button
	// position: relative
	// box-sizing: border-box

	// display: inline-flex
	display: inline-block
	// flex-direction: row
	// justify-content: center
	// align-items: center

	// gap: var(--fui-spacing-2)



	// font-family: Inter
	// font-size: 16px
	// letter-spacing: 0%


	appearance: none
	overflow: clip
	border-radius: var(--fui-rounded-lg)
	font-family: var(--fui-font)
	font-weight: 500
	text-decoration: none
	letter-spacing: 0.015em
	line-height: 150%
	border: none

	cursor: pointer
	// user-select: none

	&:disabled//:not(.fui-b-busy)
		cursor: default
		opacity: 0.5

	// &:focus:not(:disabled)
	// 	outline: 2px solid var(--backgropund-color)

	// .fui-b-content
	// 	// display: inline-flex
	// 	// align-items: center
	// 	// gap: var(--fui-spacing-1)
	// 	// transition: transform .2s ease

	outline-style: solid
	outline-color: transparent
	outline-width: var(--fui-b-boxshadow-size)
	outline-offset: 0

// 	transition-property: opacity, color, background-color, outline-color, border-color
// 	transition-duration: .2s

// 	.fui-b-content
// 		display: inline-flex
// 		align-items: center
// 		gap: var(--fui-spacing-1)
// 		transition: transform .2s ease

// .fui-button
// 	// default sizes
// 	padding: var(--fui-b-spacing-x) var(--fui-b-spacing-y)
// 	font-size: var(--fui-b-fontsize)
// 	line-height: var(--fui-b-lineheight)

// 	.fui-b-content > svg
// 		height: 1.43em
// 		height: 1.572em

// .fui-button
// 	// default color
// 	color: var(--fui-b-textcolor)
// 	background-color: var(--fui-b-basecolor)

// 	&:hover:not(:disabled)
// 		background-color: var(--fui-b-basecolor-active)
// 		color: var(--fui-b-textcolor)

// 	&:focus-visible:not(:disabled)
// 		outline-color: var(--fui-b-boxshadow-color)


// Designes /////////////////////////////////////

// .fui-button
.fui-b-design-normal
	padding: var(--fui-b-spacing-x) var(--fui-b-spacing-y)
	color: var(--fui-b-textcolor)
	background-color: var(--fui-b-basecolor)

	&:hover:not(:disabled)
		background-color: var(--fui-b-basecolor-active)

	&:focus-visible:not(:disabled)
		background-color: var(--fui-b-basecolor-active)
		outline-color: var(--fui-b-boxshadow-color)

// 	--fui-load-strock-color: transparent

// .fui-b-design-transparent
// 	// --fui-load-strock-color: transparent
// 	background-color: transparent
// 	color: var(--fui-b-basecolor)

.fui-b-design-outline
	--fui-b-bordersize: 1px

	padding: calc(var(--fui-b-spacing-x) - var(--fui-b-bordersize)) calc(var(--fui-b-spacing-y) - var(--fui-b-bordersize))
	color: var(--fui-b-basecolor)
	border: var(--fui-b-bordersize) solid var(--fui-b-basecolor)
	background-color: transparent

	&:hover:not(:disabled)
		background-color: var(--fui-b-basecolor-active)
		color: var(--fui-b-textcolor)
		border-color: var(--fui-b-basecolor-active)

	&:focus-visible:not(:disabled)
		background-color: var(--fui-b-basecolor-active)
		outline-color: var(--fui-b-boxshadow-color)
		border-color: var(--fui-b-basecolor-active)
		color: var(--fui-b-textcolor)

	// &:focus-visible:not(:disabled,:hover)
	// 	// background-color: var(--fui-b-basecolor)
	// 	color: var(--fui-b-textcolor)


// .fui-b-design-text
// 	user-select: initial
// 	font-weight: inherit

// 	// size
// 	--fui-b-spacing-x: 0
// 	--fui-b-spacing-y: calc(1em * 0.35)
// 	--fui-b-fontsize: inherit
// 	--fui-b-lineheight: 1.43em

// 	padding: var(--fui-b-spacing-x) var(--fui-b-spacing-y)

// 	.fui-b-content
// 		gap: var(--fui-spacing-1)

// 		> svg
// 			height: 1.2em

// .fui-b-design-text
// 	// color
// 	color: var(--fui-b-basecolor)
// 	background-color: transparent

// 	&:hover:not(:disabled)
// 		background-color: transparent
// 		color: var(--fui-b-basecolor-active)

// 	&:focus-visible:not(:disabled)
// 		outline-color: var(--fui-b-boxshadow-color)

// 	&.fui-b-icon
// 		--fui-b-spacing-y: var(--fui-b-spacing-x)
// 		// vertical-align: bottom
// 		vertical-align: middle
// 		// vertical-align: text-top

// 		.fui-b-content > svg
// 			height: 1.3em

// a.fui-b-design-text:hover:not(:disabled)
// 	text-decoration: underline


// Sizes ////////////////////////////////////////

.fui-button
	font-size: var(--fui-b-fontsize)
	// line-height: var(--fui-b-lineheight)

.fui-b-size-xs:not(.fui-b-design-text)
	--fui-b-spacing-x: var(--fui-spacing-2)
	--fui-b-spacing-y: var(--fui-spacing-3)
	--fui-b-fontsize: var(--fui-text-size-xs)
	// --fui-b-lineheight: var(--fui-b-lineheight-xs)
	--fui-b-boxshadow-size: 2px

	// &.fui-b-icon
	// 	--fui-b-spacing-y: var(--fui-b-spacing-x)

.fui-b-size-s:not(.fui-b-design-text)
	--fui-b-spacing-x: var(--fui-spacing-2)
	--fui-b-spacing-y: var(--fui-spacing-3)
	--fui-b-fontsize: var(--fui-text-size-sm)
	// --fui-b-lineheight: 21px
	--fui-b-boxshadow-size: 3px

	// &.fui-b-icon
	// 	--fui-b-spacing-x: 7.5px
	// 	--fui-b-spacing-y: 7.5px

.fui-b-size-default
	--fui-b-spacing-x: var(--fui-spacing-2_5)
	--fui-b-spacing-y: var(--fui-spacing-5)
	--fui-b-fontsize: var(--fui-text-size-sm)
	// --fui-b-lineheight: var(--fui-b-lineheight-default)
	--fui-b-boxshadow-size: 3px

	// &.fui-b-icon
	// 	--fui-b-spacing-y: var(--fui-b-spacing-x)

.fui-b-size-l:not(.fui-b-design-text)
	--fui-b-spacing-x: var(--fui-spacing-3)
	--fui-b-spacing-y: var(--fui-spacing-5)
	--fui-b-fontsize: var(--fui-text-size-base)
	// --fui-b-lineheight: var(--fui-b-lineheight-l)
	--fui-b-boxshadow-size: 3px

	// &.fui-b-icon
	// 	--fui-b-spacing-y: var(--fui-b-spacing-x)

.fui-b-size-xl:not(.fui-b-design-text)
	--fui-b-spacing-x: var(--fui-spacing-3_5)
	--fui-b-spacing-y: var(--fui-spacing-6)
	--fui-b-fontsize: var(--fui-text-size-base)
	// --fui-b-lineheight: var(--fui-b-lineheight-xl)
	--fui-b-boxshadow-size: 3px

	// &.fui-b-icon
	// 	--fui-b-spacing-y: var(--fui-b-spacing-x)


// Colors ///////////////////////////////////////

.fui-b-color-primary
	--fui-b-textcolor: var(--fui-color-white)
	--fui-b-basecolor: var(--fui-color-primary-700)
	--fui-b-basecolor-active: var(--fui-color-primary-800)
	--fui-b-boxshadow-color: light-dark(var(--fui-color-primary-200), var(--fui-color-primary-900))

.fui-b-color-gray
	--fui-b-textcolor: var(--fui-color-white)
	--fui-b-basecolor: var(--fui-color-gray-800)
	--fui-b-basecolor-active: light-dark(var(--fui-color-gray-700), var(--fui-color-gray-700))
	--fui-b-boxshadow-color: light-dark(var(--fui-color-gray-200), var(--fui-color-gray-850))

	&.fui-b-design-outline
		--fui-b-basecolor: light-dark(var(--fui-color-gray-800), var(--fui-color-gray-600))

.fui-b-color-green
	--fui-b-textcolor: var(--fui-color-white)
	--fui-b-basecolor: var(--fui-color-green-700)
	--fui-b-basecolor-active: var(--fui-color-green-800)
	--fui-b-boxshadow-color: light-dark(var(--fui-color-green-200), var(--fui-color-green-900))

.fui-b-color-red
	--fui-b-textcolor: var(--fui-color-white)
	--fui-b-basecolor: var(--fui-color-red-700)
	--fui-b-basecolor-active: var(--fui-color-red-800)
	--fui-b-boxshadow-color: light-dark(var(--fui-color-red-200), var(--fui-color-red-900))

.fui-b-color-blue
	--fui-b-textcolor: var(--fui-color-white)
	--fui-b-basecolor: var(--fui-color-blue-700)
	--fui-b-basecolor-active: var(--fui-color-blue-800)
	--fui-b-boxshadow-color: light-dark(var(--fui-color-blue-200), var(--fui-color-blue-900))

.fui-b-color-white
	--fui-b-textcolor: var(--fui-color-gray-900)
	--fui-b-textcolor-alternative: var(--fui-color-primary-700)
	--fui-b-basecolor: var(--fui-color-gray-200)
	--fui-b-basecolor-active: var(--fui-color-gray-100)
	--fui-b-boxshadow-color: light-dark(var(--fui-color-gray-100), var(--fui-color-gray-600))

	--fui-b-bordersize: 1px
	padding: calc(var(--fui-b-spacing-x) - var(--fui-b-bordersize)) calc(var(--fui-b-spacing-y) - var(--fui-b-bordersize))
	border: var(--fui-b-bordersize) solid var(--fui-b-basecolor)

	&:hover:not(:disabled),
	&:focus-visible:not(:disabled,:hover)
		color: var(--fui-b-textcolor-alternative)
		border-color: var(--fui-b-basecolor)

	&.fui-b-design-outline
		color: light-dark(var(--fui-b-textcolor), var(--fui-b-basecolor))



// .fui-b-color-gray_light,
// .fui-b-color-gray_light_2
// 	--fui-b-textcolor: light-dark(var(--fui-color-gray-800), var(--fui-color-gray-200))
// 	--fui-b-basecolor: light-dark(var(--fui-color-gray-300), var(--fui-color-gray-700))
// 	--fui-b-basecolor-active: light-dark(var(--fui-color-gray-200), var(--fui-color-gray-800))
// 	--fui-b-boxshadow-color: light-dark(var(--fui-color-gray-100), var(--fui-color-gray-800))
// 	// --fui-b-textcolor: light-dark(var(--fui-color-gray-800), var(--fui-color-gray-100))
// 	// --fui-b-basecolor: light-dark(var(--fui-color-gray-300), var(--fui-color-gray-600))
// 	// --fui-b-basecolor-active: light-dark(var(--fui-color-gray-200), var(--fui-color-gray-700))
// 	// --fui-b-boxshadow-color: light-dark(var(--fui-color-gray-100), var(--fui-color-gray-800))

// 	&.fui-b-design-text
// 		&:hover:not(:disabled)
// 			color: var(--fui-b-textcolor)

// 		&:focus-visible:not(:disabled)
// 			color: var(--fui-b-textcolor)

// 	&.fui-b-design-border
// 		--fui-load-strock-color: transparent

// .fui-b-color-gray_light
// 	&.fui-b-design-transparent,
// 	&.fui-b-design-border
// 		&:focus-visible:not(:disabled)
// 			color: var(--fui-b-textcolor)

// .fui-b-color-gray_light_2
// 	&.fui-b-design-transparent,
// 	&.fui-b-design-text
// 		--fui-b-basecolor: light-dark(var(--fui-color-gray-800), var(--fui-color-gray-200))
// 		// --fui-b-basecolor: light-dark(var(--fui-color-gray-800), var(--fui-color-gray-100))

// 	&.fui-b-design-border
// 		--fui-b-basecolor: light-dark(var(--fui-color-gray-800), var(--fui-color-gray-200))
// 		border-color: light-dark(var(--fui-color-gray-300), var(--fui-color-gray-700))
// 		// --fui-b-basecolor: light-dark(var(--fui-color-gray-800), var(--fui-color-gray-100))
// 		// border-color: light-dark(var(--fui-color-gray-300), var(--fui-color-gray-600))

// 		&:focus-visible:not(:disabled)
// 			border-color: var(--fui-b-basecolor)

// 	&.fui-b-border:hover:not(:disabled),
// 	&:hover:not(:disabled)
// 		--fui-b-basecolor-active: var(--fui-color-white)
// 		--fui-b-textcolor: var(--fui-color-primary-600)








// // .fui-b-color-text
// // 	--fui-b-basecolor: currentColor
// // 	--fui-b-boxshadow-color: var(--fui-b-text-boxshadow-color)


// // Busy

// .fui-b-busy > .fui-b-content
// 	transform: translate3d(var(--fui-b-spacing-x), 0, 0)

// .fui-button
// 	.fui-b-busy-indicator
// 		position: absolute
// 		top: calc((100% - var(--fui-b-lineheight)) / 2)
// 		left: calc(var(--fui-b-spacing-x) / 2)
// 		height: var(--fui-b-lineheight)
// 		color: inherit

// .loader-fade-enter-active,
// .loader-fade-leave-active
// 	transition: transform .1s linear, opacity .1s linear

// .loader-fade-enter-from,
// .loader-fade-leave-to
// 	opacity: 0
// 	transform: translate3d(-10px, 0, 0)
