// special variables
// --fui-b-bordersize

// sizes
// --fui-b-spacing-x
// --fui-b-spacing-y
// --fui-b-fontsize

// button colors
// --fui-b-textcolor
// --fui-b-basecolor
// --fui-b-basecolor-active
// --fui-b-boxshadow-color
// --fui-b-textcolor-alternative

.fui-button
	// position: relative
	// box-sizing: border-box

	// display: inline-flex
	display: inline-block
	// flex-direction: row
	// justify-content: center
	// align-items: center

	// gap: var(--fui-spacing-2)

	appearance: none
	overflow: clip
	border-radius: var(--fui-rounded-lg)
	font-family: var(--fui-font)
	font-weight: 500
	text-decoration: none
	letter-spacing: 0.015em
	line-height: 150%
	border: none

	cursor: pointer
	// user-select: none

	&.fui-b-disabled,
	&.fui-b-busy
		pointer-events: none

	&.fui-b-disabled:not(.fui-b-busy),
	&:disabled:not(.fui-b-busy)
		cursor: default
		opacity: 0.5

	outline-style: solid
	outline-color: transparent
	outline-width: var(--fui-b-boxshadow-size)
	outline-offset: 0


// Designes /////////////////////////////////////

.fui-b-design-normal
	padding: var(--fui-b-spacing-x) var(--fui-b-spacing-y)
	color: var(--fui-b-textcolor)
	background-color: var(--fui-b-basecolor)

	&:hover:not(.fui-b-disabled)
		background-color: var(--fui-b-basecolor-active)

	&:focus-visible:not(.fui-b-disabled)
		background-color: var(--fui-b-basecolor-active)
		outline-color: var(--fui-b-boxshadow-color)

.fui-b-design-outline
	--fui-b-bordersize: 1px

	padding: calc(var(--fui-b-spacing-x) - var(--fui-b-bordersize)) calc(var(--fui-b-spacing-y) - var(--fui-b-bordersize))
	color: var(--fui-b-basecolor)
	border: var(--fui-b-bordersize) solid var(--fui-b-basecolor)
	background-color: transparent

	&:hover:not(.fui-b-disabled)
		background-color: var(--fui-b-basecolor-active)
		color: var(--fui-b-textcolor)
		border-color: var(--fui-b-basecolor-active)

	&:focus-visible:not(.fui-b-disabled)
		background-color: var(--fui-b-basecolor-active)
		outline-color: var(--fui-b-boxshadow-color)
		border-color: var(--fui-b-basecolor-active)
		color: var(--fui-b-textcolor)


// Sizes ////////////////////////////////////////

.fui-button
	font-size: var(--fui-b-fontsize)

	&.fui-b-icon
		--fui-b-spacing-y: var(--fui-b-spacing-x)

.fui-b-size-xs
	--fui-b-spacing-x: var(--fui-spacing-2)
	--fui-b-spacing-y: var(--fui-spacing-3)
	--fui-b-fontsize: var(--fui-text-size-xs)
	--fui-b-boxshadow-size: 2px
	--fui-b-height: 34px
	--fui-b-bheight: 14px

	&.fui-b-icon
		--fui-b-height: 20px
		--fui-b-spacing-x: calc(var(--fui-spacing-2) - 6px)

		.fui-b-content > svg
			height: 16px

.fui-b-size-s
	--fui-b-spacing-x: var(--fui-spacing-2)
	--fui-b-spacing-y: var(--fui-spacing-3)
	--fui-b-fontsize: var(--fui-text-size-sm)
	--fui-b-boxshadow-size: 3px
	--fui-b-height: 37px
	--fui-b-bheight: 14px

	&.fui-b-icon
		--fui-b-height: 28px
		--fui-b-bheight: 16px
		--fui-b-spacing-x: calc(var(--fui-spacing-2) - 2px)

		.fui-b-content > svg
			height: 16px

.fui-b-size-default
	--fui-b-spacing-x: var(--fui-spacing-2_5)
	--fui-b-spacing-y: var(--fui-spacing-5)
	--fui-b-fontsize: var(--fui-text-size-sm)
	--fui-b-boxshadow-size: 3px
	--fui-b-height: 42px
	--fui-b-bheight: 22px

	&.fui-b-icon
		--fui-b-height: 34px
		--fui-b-spacing-x: calc(var(--fui-spacing-2_5) - 2.5px)

		.fui-b-content > svg
			height: 19px

.fui-b-size-l
	--fui-b-spacing-x: var(--fui-spacing-3)
	--fui-b-spacing-y: var(--fui-spacing-5)
	--fui-b-fontsize: var(--fui-text-size-base)
	--fui-b-boxshadow-size: 3px
	--fui-b-height: 48px
	--fui-b-bheight: 22px

	&.fui-b-icon
		--fui-b-height: 40px
		--fui-b-spacing-x: calc(var(--fui-spacing-3) - 3px)

		.fui-b-content > svg
			height: 22px

.fui-b-size-xl
	--fui-b-spacing-x: var(--fui-spacing-3_5)
	--fui-b-spacing-y: var(--fui-spacing-6)
	--fui-b-fontsize: var(--fui-text-size-base)
	--fui-b-boxshadow-size: 3px
	--fui-b-height: 52px
	--fui-b-bheight: 26px

	&.fui-b-icon
		--fui-b-height: 44px
		--fui-b-spacing-x: calc(var(--fui-spacing-3_5) - 3px)

		.fui-b-content > svg
			height: 22px


// Icon /////////////////////////////////////////

.fui-button
	&.fui-b-icon
		vertical-align: middle
		border-radius: 50%

		.fui-b-content > svg
			display: block


// Colors ///////////////////////////////////////

.fui-b-color-primary
	--fui-b-textcolor: var(--fui-color-white)
	--fui-b-basecolor: var(--fui-color-primary-700)
	--fui-b-basecolor-active: var(--fui-color-primary-800)
	--fui-b-boxshadow-color: light-dark(var(--fui-color-primary-200), var(--fui-color-primary-900))

.fui-b-color-gray
	--fui-b-textcolor: var(--fui-color-white)
	--fui-b-basecolor: var(--fui-color-gray-800)
	--fui-b-basecolor-active: light-dark(var(--fui-color-gray-700), var(--fui-color-gray-700))
	--fui-b-boxshadow-color: light-dark(var(--fui-color-gray-200), var(--fui-color-gray-850))

	&.fui-b-design-outline
		--fui-b-basecolor: light-dark(var(--fui-color-gray-800), var(--fui-color-gray-600))

.fui-b-color-green
	--fui-b-textcolor: var(--fui-color-white)
	--fui-b-basecolor: var(--fui-color-green-700)
	--fui-b-basecolor-active: var(--fui-color-green-800)
	--fui-b-boxshadow-color: light-dark(var(--fui-color-green-200), var(--fui-color-green-900))

.fui-b-color-red
	--fui-b-textcolor: var(--fui-color-white)
	--fui-b-basecolor: var(--fui-color-red-700)
	--fui-b-basecolor-active: var(--fui-color-red-800)
	--fui-b-boxshadow-color: light-dark(var(--fui-color-red-200), var(--fui-color-red-900))

.fui-b-color-blue
	--fui-b-textcolor: var(--fui-color-white)
	--fui-b-basecolor: var(--fui-color-blue-700)
	--fui-b-basecolor-active: var(--fui-color-blue-800)
	--fui-b-boxshadow-color: light-dark(var(--fui-color-blue-200), var(--fui-color-blue-900))

.fui-b-color-white
	--fui-b-textcolor: var(--fui-color-gray-900)
	--fui-b-textcolor-alternative: var(--fui-color-primary-700)
	--fui-b-basecolor: var(--fui-color-gray-200)
	--fui-b-basecolor-active: var(--fui-color-gray-100)
	--fui-b-boxshadow-color: light-dark(var(--fui-color-gray-100), var(--fui-color-gray-600))

	--fui-b-bordersize: 1px
	padding: calc(var(--fui-b-spacing-x) - var(--fui-b-bordersize)) calc(var(--fui-b-spacing-y) - var(--fui-b-bordersize))
	border: var(--fui-b-bordersize) solid var(--fui-b-basecolor)

	&:hover:not(.fui-b-disabled),
	&:focus-visible:not(.fui-b-disabled,:hover)
		color: var(--fui-b-textcolor-alternative)
		border-color: var(--fui-b-basecolor)

	&.fui-b-design-outline
		color: light-dark(var(--fui-b-textcolor), var(--fui-b-basecolor))


// Busy /////////////////////////////////////////

.fui-button
	position: relative

.fui-b-busy-indicator
	position: absolute
	top: calc((var(--fui-b-height) - var(--fui-b-bheight)) / 2)
	left: calc(var(--fui-b-spacing-x) / 2)
	height: var(--fui-b-bheight)

	.fui-load-track
		stroke-width: 6

.fui-b-busy-indicator + .fui-b-content
	// Shift the button content when the preloader enabled
	display: block
	transform: translate3d(var(--fui-b-spacing-x), 0, 0)

.loader-fade-enter-active,
.loader-fade-leave-active
	transition: transform .1s linear, opacity .1s linear

.loader-fade-enter-from,
.loader-fade-leave-to
	opacity: 0
	transform: translate3d(-10px, 0, 0)

// Busy icon
.fui-b-icon
	.fui-b-busy-indicator
		left: calc((var(--fui-b-height) - var(--fui-b-bheight)) / 2)

	.fui-b-busy-indicator + .fui-b-content
		display: block
		transform: translate3d(var(--fui-b-height), 0, 0)
