@charset "UTF-8"


// Preview Scheme Toggler
.sbpst-scheme_preview .sbpst-dark,
.sbpst-scheme_preview .sbpst-light
	min-height: 150px

.docs-story > :first-child
	min-height: 150px
	box-sizing: border-box

// FIcon
// .fui-icon
// :root
body
	--fui-icon-color: light-dark(#000000, #ffffff)

.icon_preview
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	align-content: center
	max-width: 500px
	gap: var(--fui-spacing-4)
	// @apply text-gray-900 dark:text-white

.icon_preview-wrapper
	flex-direction: column

// .sbpst-dark
// 	color: var(--fui-color-gray-400)

// .sbpst-light
// 	color: var(--fui-color-gray-600)

// FLoader
.loader_preview
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	align-content: center
	gap: var(--fui-spacing-5)
