.fui-loader
	color-scheme: var(--fui-scheme)
	color: var(--fui-color-primary-600)

.fui-load-track
	stroke: light-dark(var(--fui-color-gray-200), var(--fui-color-gray-600))


// Sizes ////////////////////////////////////////

// Small
.fui-loader-sm
	height: 25px

.fui-loader-sm .fui-load-track
	stroke-width: 6

// Medium
.fui-loader-md
	height: 50px

.fui-loader-md .fui-load-track
	stroke-width: 8

// Large
.fui-loader-lg
	height: 75px

.fui-loader-lg .fui-load-track
	stroke-width: 8
