@charset "UTF-8"

:root

	// palette
	// --fui-color-primary-50:
	--fui-color-primary-100: #dbeafe
	--fui-color-primary-200: #c3ddfd
	--fui-color-primary-300: #93c5fd
	// --fui-color-primary-400:
	--fui-color-primary-500: #3f83f8
	--fui-color-primary-600: #1c64f2
	--fui-color-primary-700: #1a56db
	--fui-color-primary-800: #1e429f
	--fui-color-primary-900: #233876
	// --fui-color-primary-950:

	--fui-color-gray-50: #f9fafb
	--fui-color-gray-100: #f3f4f6
	--fui-color-gray-200: #e5e7eb
	--fui-color-gray-300: #d1d5db
	--fui-color-gray-400: #9ca3af
	--fui-color-gray-500: #6b7280
	--fui-color-gray-600: #4b5563
	--fui-color-gray-700: #374151
	--fui-color-gray-800: #1f2937
	--fui-color-gray-900: #111827
	// --fui-color-gray-950:

	--fui-color-white: #ffffff

	--fui-color-red-50: #fdf2f2
	--fui-color-red-100: #fde8e8
	--fui-color-red-200: #fbd5d5
	--fui-color-red-300: #f8b4b4
	--fui-color-red-400: #f98080
	--fui-color-red-500: #f05252
	--fui-color-red-600: #e02424
	--fui-color-red-700: #c81e1e
	--fui-color-red-800: #9b1c1c
	--fui-color-red-900: #771d1d
	// --fui-color-red-950:

	// --fui-color-yellow-50:
	// --fui-color-yellow-100:
	// --fui-color-yellow-200:
	// --fui-color-yellow-300:
	--fui-color-yellow-400: #e3a008
	// --fui-color-yellow-500:
	// --fui-color-yellow-600:
	// --fui-color-yellow-700:
	// --fui-color-yellow-800:
	// --fui-color-yellow-900:
	// --fui-color-yellow-950:

	// --fui-color-green-50:
	--fui-color-green-100: #def7ec
	--fui-color-green-200: #bcf0da
	// --fui-color-green-300:
	// --fui-color-green-400:
	--fui-color-green-500: #0e9f6e
	--fui-color-green-600: #057a55
	--fui-color-green-700: #046c4e
	--fui-color-green-800: #03543f
	--fui-color-green-900: #014737
	// --fui-color-green-950:

	// --fui-color-blue-50:
	// --fui-color-blue-100:
	--fui-color-blue-200: #c3ddfd
	// --fui-color-blue-300:
	// --fui-color-blue-400:
	// --fui-color-blue-500:
	// --fui-color-blue-600:
	--fui-color-blue-700: #1a56db
	--fui-color-blue-800: #1e429f
	--fui-color-blue-900: #233876
	// --fui-color-blue-950:

	// spacing
	--fui-spacing-4: 16px

	// Icons
	--fui-icon-color: inherit
	--fui-icon-size: 24px
